//
// VARIABLES FILE
//

// SASS Map containing plugin's colours
$colors: (
    white:                  #fff,
    black:                  #000,
    red:                    #f00,
    green--light:           #95c11f,
    green:                  #749719,
    green--dark:            #638015,
    // Utility
    border:                 #d1d1d1,
    shadow:                 rgba(0, 0, 0, 0.45),
    light-shadow:           rgba(0, 0, 0, 0.15),
    dark-shadow:            rgba(0, 0, 0, 1),
    light_hover:            rgba(0, 0, 0, 0.075),
    darker_hover:           rgba(0, 0, 0, 0.20),
    light_background:       rgba(255, 255, 255, 0.5),
    required:               rgba(175, 30, 30, 1),
    required_background:    rgba(255, 0, 0, 0.075)
);